<countrys></countrys>
<footer>
  <p>Author: Alejandro Adolfo Gonzalez Jimenez</p>
  <p>
    <a href="mailto:alejandro.gonz.jimz@gmail.com">alejandro.gonz.jimz@gmail.com</a>
    
  </p>
  <p>
    <a href="https://web.facebook.com/alejandro.gonzalezjimenez.7"><i class="icofont-facebook"></i></a> 
    <a href="https://www.instagram.com/alejogonzjimz/"><i class="icofont-instagram"></i></a>
    <a href="https:/www.linkedin.com/in/alejandro-adolfo-gonzalez-jimenez-34a8921b4"><i class="icofont-linkedin"></i></a>
  </p>
</footer>





